/* Common styles or utilities */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.paragraph {
    color: #727272;
    line-height: 26px;
    font-size: 16px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 0;
    padding: 18px 36px;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
}

/* Header Styles */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 100px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 45px;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 3em;
}
.nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}
.header-content{
    padding: 100px 0 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}
.header-content h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.header-banner img{
    width: 100%;
}

/* main css */
.main {
    padding: 0 140px;
}

/* Quick list features styles */
.quick-list-features{
    padding: 70px 0;
    display: flex;
    gap: 60px;
    align-items: center;
}
.quick-list-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 40px;
}
.quick-list-images img{
    width: 100%;
}
.quick-list-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 540px;
}
.quick-list-content h3{
    font-size: 45px;
    color: #727272;
    font-weight: 500;
    line-height: 53px;
}
.off-our-text{
    color: #131313;
    font-weight: 700;
}
.features-text{
    color: #FF900E;
    font-weight: 700;
}

/* Love and enjoy features styles */
.love-enjoy-features{
    margin-bottom: 150px;
    padding-top: 30px;
}
.love-enjoy-maincontent{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.love-enjoy-contents{
    margin-top: 20px;
    width: 50%;
    padding-right: 50px;
}
.love-enjoy-contents-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}
.love-enjoy-contents p{
    line-height: 26px;
    color: #727272;
}
.love-enjoy-all-feature{
    margin-top: 20px;
}
.love-enjoy-feature{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
}
.love-enjoy-image{
    width: 50%;
    position: relative;
}
.love-enjoy-image img{
    width: 100%;
}
.love-enjoy-btn button {
    position: absolute;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 25px;
    /* left: -80px;
    bottom: -30px; */
}
.love-enjoy-btn-text {
    font-weight: 700;
    font-size: 50px
}